.intro-message {
	text-align: left;
	padding-top: 18%;
	padding-bottom: 18%;
	color: brown

}

body {

	background: url(background.jpg);
	background-size: 1440px 718px;
	background-repeat: no-repeat center;
    
}
.signup-form {
	color: brown
}